body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.container_title{
    overflow: hidden;
    background: url(assets/background.jfif) no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    position: relative;
    justify-content: center;
    text-align: center;
}

.title{
    color: #FFFF;
    font-size: 90px;
}

.subtitle{
    color: #FFFF;
    font-size: 30px;
    font-style: italic;
}
/*
.container_title .subtitle{
    font-size: 30px;
    font-style: italic;
    white-space: nowrap;
    border-right: 4px solid;
    width: 13ch;

    animation: typing 2s steps(13),
    blink .5s infinite step-end alternate;
    
    overflow: hidden;
}

@keyframes typing {
    from { width: 0;}
}

@keyframes blink {
    50% { border-color: transparent;}
}
*/

.container_about, .container_skills, .container_investigation{
    margin: 50px;
    margin-bottom: 100px;
}

.about{
    font-size: 50px;
    color: #D55F39;
}

.about-description{
    font-size: 25px;
    margin-bottom: 50px;
}

.my_picture{
    float: left;
    margin-right: 30px;
    width: 400px;
    height: 400px;
}

.cargo{
    clear: both;
    overflow: hidden;
}

.cargo-title{
    font-size: 40px;
    text-align: center;
    color: #D55F39;

}

.container_about, .container_skills, .container_investigation p{
    font-size: 25px;
    margin-bottom: 25px;
}

.datos-personales{
    font-size: 20px;
    margin: 20px;
    list-style: none;
    padding: 0;
    margin-left: 10px;
}

.datos-personales li::before { 
    content: "\2022";
    margin: 6px; 
    padding-right: 8px; 
    color: #D55F39;
    display: inline-block; 
    padding-right: 10px;
    font-size: 50px;
    line-height: 25px;
    vertical-align: -11px;
    width: 20px;
}

.skills{
    font-size: 50px;
    color: #D55F39;
}


.alien{
    float: right;
    margin-left: 30px;
    width: 500px;
    height: 500px;
}






/*Ayudaaaaaaaaa*/




#l1 {
    float:left
}

.social-icons li {
    font-size: 1.2em;
    padding: 0.5em;
}

.social-icons #l1 li{
    display: inline;
  }

.social-icons #l1{
    margin-left: 50px;
    margin-top: 100px;
}

#flooter div.tooltip{
    background: #009688;
    padding: .5em;
    border-radio: 4;
    color: white;
    font: courier;
    float:left;
    position: absolute;
    top: 150px;
    left: 220px;
    
}
  
#flooter div.tooltip:before {
    position:absolute;
    bottom:34px;
    content:"";
    border-bottom: 10px solid #009688;
    border-top: 10px solid transparent ;
    border-right: 10px solid transparent ;
    border-left: 10px solid transparent ;
}