body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.container_title{
    overflow: hidden;
    background: url(assets/background.jfif) no-repeat;
    background-size: cover;
    height: auto;
}

.title, .subtitle{
    margin: 20px;
    color: #FFFF;
}

.title{
    font-size: 90px;
}

.subtitle{
    display: block;
    font-size: 30px;
    font-style: italic;
    white-space: nowrap;
    border-right: 4px solid;
    width: 13ch;
     
    animation: typing 2s steps(13),
    blink .5s infinite step-end alternate;
    
    overflow: hidden;
}

@keyframes typing {
    from { width: 0;}
}

@keyframes blink {
    50% { border: transparent;}
}